<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Social</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <!-- Navbar -->

        <header>
                <nav class="nav-extended #1e88e5 blue darken-1">
                   <div class="nav-wrapper">
                       <a href="#" class="brand-logo"><img src="../assets/images/go.png" alt="" ></a>
                       <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                       <a href="#" data-activates="mobile-demo" class="button-collapse right">        
                         <ul>
                           <li><input id="last_name" type="text" class="validate"placeholder="search"></li>  
                           <li><i class="small material-icons">search</i></li>
                          </ul>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                           <li><input id="last_name" type="text" class="validate"placeholder="search"></li>  
                           <li><i class="small material-icons">search</i></li>
                           <li><a href="home.html">Home</a></li>
                           <li><a href="friends.html">Amigos</a></li>
                           <li><a class="modal-trigger" href="#modal2">Planea tu viaje</a></li>
                           <li><a class="modal-trigger" href="#modal1" ><img src="../assets/images/userman.png" width="50px" alt=""></a></li>
                        </ul>
                    </div>
                </nav>  
            </header>

        <nav class="nav-extended orange darken-1">
                <div class="nav-content">
                  <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active" href="#test1">Amigos</a></li>
                    <li class="tab"><a  href="#test2">Sugerencias de Amigos</a></li>
                  </ul>
                </div>
              </nav>
              <div id="test1" class="col s12">
              <div class="row ">
                <div class="col s12 l3 push-l1 #e0f2f1 teal lighten-5 friend">
                    <img class="circle" src="../assets/images/user1.jpg" width="50px" height="50px" alt="">
                    <div class="#b2dfdb teal lighten-4">
                      <ul>
                        <li><p>Olivia Colin</p></li>
                          <p><span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>---Wanderlust---</span></p>
                          <p>Los viajes ilustran...</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">favorite_border</i> Puntos :  8989</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">email</i> elena@troya.com</p>
                          <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i></p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">airplanemode_active</i>viajando ahora</p>
                          <a href="profile.html" class="waves-effect green btn"><i class="small material-icons">remove_red_eye</i></a>
                      </ul>
                    </div>
                </div>
                <div class="col s12 l3 push-l1 #e0f2f1 teal lighten-5 friend">
                    <img class="circle" src="../assets/images/user2.jpg" width="50px" height="50px" alt="">
                    <div class="#b2dfdb teal lighten-4">
                      <ul>
                        <li><p>Olivia Colin</p></li>
                          <p><span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>Descovering the world</span></p>
                          <p>Make each day count.</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">favorite_border</i> Puntos :  500</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">email</i> olive@live.com</p>
                          <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star_border star_border</i></p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">home</i>En casa</p>
                          <a href="profile.html" class="waves-effect green btn"><i class="small material-icons">remove_red_eye</i></a>
                      </ul>
                    </div>
                </div>
                <div class="col s12 l3 push-l1 #e0f2f1 teal lighten-5 friend">
                    <img class="circle" src="../assets/images/user3.jpg" width="50px" height="50px" alt="">
                    <div class="#b2dfdb teal lighten-4">
                      <ul>
                        <li><p>Renne Stevens</p></li>
                          <p><span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>Searching the wonders of life-</span></p>
                          <p>Live for today.</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">favorite_border</i> Puntos : 1000</p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">email</i> rene@troya.com</p>
                          <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star_border star_border star_border</i></p>
                          <p><i class="tiny material-icons cyan-text text-darken-2">airplanemode_active</i>viajando ahora</p>
                          <a href="profile.html" class="waves-effect green btn"><i class="small material-icons">remove_red_eye</i></a>
                      </ul>
                    </div>
                </div>
              </div>

              </div>
              <div id="test2" class="col s12">
                  <div class="row ">
                      <div class="col s12 l3 push-l1 #e1bee7 purple lighten-4 friend">
                          <img class="circle" src="../assets/images/user4.jpg" width="50px" alt="">
                          <div class="#ce93d8 purple lighten-3">
                            <ul>
                              <li><p>Fernanda Romero</p></li>
                                <p>Lo mejor de la vida</p>
                                <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star_half star_border star_border star_border</i></p>
                                <a class="waves-effect waves-light btn"><i class="small material-icons">add</i></a>
                              </ul>
                          </div>
                      </div>
                      <div class="col s12 l3 push-l1 #e1bee7 purple lighten-4 friend">
                          <img class="circle" src="../assets/images/user5.jpg" width="50px" alt="">
                          <div class="#ce93d8 purple lighten-3">
                            <ul>
                              <li><p>Javier Hernandez</p></li>
                                <p>Make it better</p>
                                <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i></p>
                                <a class="waves-effect waves-light btn"><i class="small material-icons">add</i></a>
                              </ul>
                          </div>
                      </div>
                      <div class="col s12 l3 push-l1 #e1bee7 purple lighten-4 friend">
                          <img class="circle" src="../assets/images/user6.jpg" width="50px" alt="">
                          <div class="#ce93d8 purple lighten-3">
                            <ul>
                              <li><p>August Merry</p></li>
                                <p>Hoy y siempre</p>
                                <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star star</i></p>
                                <a class="waves-effect waves-light btn"><i class="small material-icons">add</i></a>
                              </ul>
                          </div>
                      </div>
                    </div>
      
                    </div>
              </div>


  <!-- User Modal -->

  <div id="modal1" class="modal">
        <i class="tiny material-icons right">close</i>
        <p><img src="../assets/images/userman.png" width="90px" alt=""></p>
        <h2>Elena Troya</h2>
        <p><span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>---Wanderlust---</span></p>
        <p>Los viajes ilustran...</p>
        <p><i class="tiny material-icons cyan-text text-darken-2">favorite_border</i> Puntos :  8989</p>
        <p><i class="tiny material-icons cyan-text text-darken-2">email</i> elena@troya.com</p>
        <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i></p>
        <p><i class="tiny material-icons cyan-text text-darken-2">airplanemode_active</i>viajando ahora</p>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
    </div>
          
   <!-- Plan Modal -->

   <div id="modal2" class="modal">
    <div class="row ">
        <div class="col s9 left"> 
            <h5>¡Crea el viaje perfecto!</h5>
        </div>
        <div class="col s3">
            <img class="right" src="../assets/images/go.png" width="50px" alt="">
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect orange darken-1" type="submit" name="action">Hotel
            <i class="material-icons right">hotel</i>
        </button>      
        <button class="btn waves-effect orange darken-1" type="submit" name="action">Auto
            <i class="material-icons right">directions_car</i>
        </button>  
    </div>
    <div class="row">
        <div class="col s4">
            <p>
                <input type="checkbox" id="test5" />
                <label for="test5">Ida y vuelta</label>
            </p>
        </div>
        <div class="col s4">
            <p>
                <input type="checkbox" id="test5" />
                <label for="test5">Solo ida</label>
            </p>
        </div>
        <div class="col s4">
            <p>
                <input type="checkbox" id="test5" />
                <label for="test5">Multidestino</label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <p>Origen</p>
            <input type="text" placeholder="CDMX">
        </div>
        <div class="col s6">
            <p>Destino</p>
            <input type="text" placeholder="¿A dónde quieres viajar?">
        </div> 
    </div>
    <div class="row">
        <div class="col s4">
            <p>Fechas</p>
            <input type="text" placeholder="Partida">                
        </div>
        <div class="col s4">
            <p>-</p>
            <input type="text" placeholder="Regreso">                
        </div>
        <div class="col s4">
            <p>Pasajeros</p>
            <input type="text" placeholder="¿Cuantas personas?">                
        </div>
        <a class="waves-effect orange darken-1 btn">¡Encuentra tu viaje!</a>
    </div>
      
</div>

   <!-- User SideNav -->

   <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="../assets/images/gray_suitcase.jpg" class="center" width="160%">
          </div>
          <div class="row">
              <div class="col s4"></div>
              <div class="col s3 ">
                    <img class="circle" src="../assets/images/userman.png" width="90px" alt="">
              </div>
              <div class="col s5"></div>
          </div>
          <h5 class="white-text">Elena Troya</h5>
          <h5 class="white-text">elena@troya.com</h5>
        </div></li>
        <p>Puntaje <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i></p>
        <li><div class="divider"></div></li>
        <li><a href="home.html">Home</a></li>
        <li><a href="friends.html">Amigos</a></li>
        <li><a class="modal-trigger" href="#modal2">Planea tu viaje</a></li>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
        <br>
        <a href="#" class="modal-trigger waves-effect  green accent-3 btn planear">¡RECOMPENSAS!</a>
      </ul>
      

              <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
              <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
              <script src="../js/app.js"></script>
          </body>
          </html>